@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    width: 100%;
    height: 700px;
    background: url("images/Capture.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.box{
    width: 40%;
    height: 45px;
}
.box h1{
    text-align: center;
    color: white;
    margin-top: 150px;
    font-size: 5.5rem;
    padding-bottom: 1.5rem;
}
.box .container{
    width: 100%;
    height: 100%;
    background:white;
    border-radius: 10px;
}
.container .input-field{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orangered; */
}
.container .input-field input{
    width: 79%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    /* background: red; */
}
.input-field input::placeholder{
    color:gray;
    font-size: 15px;
}
.container .input-field button{
    width: 7%;
    height: 100%;
    border: none;
    outline: none;
    background:transparent;
    color: black;
    /* font-size: 24px; */
}
.container button .clrs1{
    color: grey;
    font-size: 17px;
}
.container button .clrs{
    font-size: 17px;
    background: linear-gradient(1deg,blue,red,yellow,green);
    color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
}
.box .result-box{
    width: 100%;
    height: auto;
    background: white;
    border-radius: 10px;
}
.box .result-box ul{
    list-style: none;
    margin-top: 5px;
    /* padding: 1rem 0; */
    /* border: 4px solid whitesmoke; */
}
.result-box ul li{
    padding: 9px 10px;
    font-size: 15px;
}
.result-box ul li:hover{
    color: black;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* border-left: 2px solid blue; */
    font-weight: 700;
}
ul li .clrs2{
    font-size: 15px;
    color: darkgray;
    padding-left: 10px;
}
ul li span{
    padding-left: 10px;
}
